.image{
    border: none;
    border-radius:  10px;
    overflow: hidden;
    width: 348px;
    height: 145px;
}
img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px){
    .image{
        border: none;
        border-radius:  10px;
        overflow: hidden;
        width: 90%;
        height: 354px;
    }
}
